// Breakpoints

// Map containing breakpoint definitions
$breakpoints: (
  lt-sm: (
    max-width: 599px,
  ),
  sm: (
    min-width: 600px,
  ),
  lt-md: (
    max-width: 899px,
  ),
  md: (
    min-width: 900px,
  ),
  lt-lg: (
    max-width: 1199px,
  ),
  lg: (
    min-width: 1200px,
  ),
);
