// Stack

@use "./helpers" as *;

.stack {
  $root: &;

  display: flex;

  // Vertical
  &--vertical {
    @include create-breakpoint-selectors {
      flex-direction: column;
    }
  }

  // Horizontal
  &--horizontal {
    @include create-breakpoint-selectors {
      flex-direction: row;
    }
  }

  // Spacing
  $stack-sizes: 1, 2, 3, 4, 5;

  @each $size in $stack-sizes {
    &--spacing-#{$size} {
      @include create-breakpoint-selectors {
        gap: size($size);
      }
    }
  }

  // Alignment
  $stack-align: (
    start: flex-start,
    center: center,
    end: flex-end,
  );

  @each $align-name, $align-value in $stack-align {
    // Block
    &--align-block-#{$align-name} {
      @include create-breakpoint-selectors {
        &#{$root}--vertical {
          justify-content: $align-value;
        }

        &#{$root}--horizontal {
          align-items: $align-value;
        }
      }
    }

    // Inline
    &--align-inline-#{$align-name} {
      @include create-breakpoint-selectors {
        &#{$root}--vertical {
          align-items: $align-value;
        }

        &#{$root}--horizontal {
          justify-content: $align-value;
        }
      }
    }
  }

  // Separate last child
  &--separate-last-child {
    @include create-breakpoint-selectors {
      & > *:last-child {
        margin-left: auto;
      }
    }
  }
}
